<!DOCTYPE html>

<html>
<head>
  <title>Blocitoff</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,600' rel='stylesheet' type='text/css'>

  <%= stylesheet_link_tag    "application", media: "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>

<body>
  <ul>
  <div class="container">
    <ul class="nav nav-tabs">

      <div class="pull-right user-info">
      <% if user_signed_in? %>
        Signed in as: <strong> <%= current_user.email%> </strong>
      <% end %>
    </ul>
    </div>
      <div class="container">
        <div class="row">
                <div class="span3"> <a href="/"> <h1> BLOCITOFF </h1> </a> </div>
                  <div class="navbar  pull-right">
                    <div class="navbar-inner">
                      <div class="nav-collapse collapse navbar-responsive-collapse">
                        <ul class="nav">
                          <li> <%= link_to 'Home', welcome_index_path %> </li>

                          <li> <%= link_to 'Users', users_path %> </li>

                          <% if user_signed_in? %>
                            <li> <%= link_to 'My ToDo List', items_show_path %> </li>
                            <li> <%= link_to 'Edit profile', edit_user_registration_path, :class => 'navbar-link' %> </li>
                            <li> <%= link_to "Logout", destroy_user_session_path, method: :delete %> </li>
                          <% else %>
                            <li> <%= link_to "Sign Up", new_user_registration_path, :class => 'navbar-link' %> </li>
                            <li> <%= link_to "Sign In", new_user_session_path, :class => 'navbar-link' %> </li>
                          <% end %>
                        </ul>
                      </div>
                    </div>
                  </div>
                </div>
        </div>
    </div>

    <% if flash[:notice] %>
      <div class="alert alert-success">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <%= flash[:notice] %>
      </div>
    <% elsif flash[:error] %>
      <div class="alert alert-danger">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <%= flash[:error] %>
      </div>
    <% elsif flash[:alert] %>
      <div class="alert alert-warning">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <%= flash[:alert] %>
      </div>
    <% end %>
    <%= yield %>
  </div>
       
</body>
</html>